<%= render 'post_books/leftside', user: current_user, post_book_new: @post_book_new %>

<h1>Users</h1>
<hr>
<table rules="groups">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>