<%= render 'post_books/leftside', post_book_new: @post_book_new, user: @user %>

<h1>User</h1>
<hr>
<table rules="groups">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @user.post_books.each do |post_book| %>
      <tr>
        <td><%= image_tag post_book.user.get_profile_image(80,80) %></td>
        <td><%= link_to "#{post_book.title}", post_book_path(post_book.id) %></td>
        <td><%= "#{post_book.opinion}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>